body{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height:100vh;
    background:#222;
    font-family:Arial;
}

.container{
    width:350px;
    height:350px;
    border:4px solid white;
    display:flex;
    justify-content:center;
    align-items:center;
}

.sphere{
    width:220px;
    height:220px;
    border-radius:50%;
    border:3px solid white;
    display:flex;
    justify-content:center;
    align-items:center;
}

.bulb{
    width:70px;
    height:70px;
    border-radius:50%;
    background:#555;
    transition:0.3s;
}

.buttons{
    margin-top:30px;
}

button{
    width:90px;
    height:40px;
    margin:10px;
    font-size:18px;
    cursor:pointer;
}