body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(0, 0, 0);
}

.reviews-grid{
    display: grid;
    height: 90vh;
    width: 80vw;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    border-radius: 20px;
    gap: 10px;
    align-items: center;

}

.review-card{
    padding: 1rem;
    background-color: rgb(123, 94, 94);
    border: 5px solid rgb(228, 96, 81);
    border-radius: 100px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
}

@media (max-width: 1000px) {
    body{
        background: blue;

    }    
}

@media (max-width: 1000px) {
    .review-card{
        background-color: rgb(255, 0, 0);

    }    
}

@media (max-width: 600px) {

    .reviews-grid{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        color: rgb(255, 215, 55);
    }
    
}