body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(229, 176, 176);
}

.traffic-light{
    width: 120px;
    height: 320px;
    background-color: rgb(0, 0, 0);
    border-radius: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    
    animation: rotateSignal 6s;
    transform-origin: center center;
}

.light{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    opacity: 0.3;
}

.red{
    background-color: red;
    animation: redLight 6s ;
}

.yellow{
    background-color: yellow;
    animation: yellowLight 6s ;
}

.green{
    background-color: lime;
    animation: greenLight 6s ;
}

@keyframes redLight{
    0%, 33%{
        opacity: 1;
        box-shadow: 0 0 30px red;
    }
    34%, 100%{
        opacity: 0.3;
        box-shadow: none;
    }
}

@keyframes yellowLight{
    0%, 33%{
        opacity: 0.3;
        box-shadow: none;
    }
    34%, 66%{
        opacity: 1;
        box-shadow: 0 0 30px yellow;
    }
    67%, 100%{
        opacity: 0.3;
        box-shadow: none;
    }
}

@keyframes greenLight{
    0%, 66%{
        opacity: 0.3;
        box-shadow: none;
    }
    67%, 100%{
        opacity: 1;
        box-shadow: 0 0 30px lime;
    }
}
@keyframes rotateSignal{
    0%, 30%{
        transform: rotate(0deg);
    }

    35%, 65%{
        transform: rotate(90deg);
    }

    70%, 100%{
        transform: rotate(180deg);
    }
}