
body{
    display:flex;
    flex-direction:column;
    align-items:center;
    background:#1e1e1e;
}

.grid-container{
    width:800px;
    height:450px;

    border:4px solid rgb(248, 130, 130);
    padding:10px;

    display:grid;

    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr;

    gap:10px;

    margin:30px auto;
    background:#657aff;
}

.box{
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius: 10px;
    font-size:30px;
    font-weight:bold;
    color:white;

    border:2px solid rgb(255, 255, 255);
}

/* Left Tall Box */
.box1{
    background:#80b3ff;
    grid-row:1 / 4;
    grid-column:1;
}

/* Top Middle Wide Box */
.box2{
    background:#ffccea;
    grid-column:2 / 4;
    grid-row:1;
}

/* Top Right Box */
.box3{
    background:#ac9aff;
    grid-column:4;
    grid-row:1;
}

/* Middle Left */
.box4{
    background:#b1ffb1;
    grid-column:2;
    grid-row:2;
}

/* Middle Right */
.box5{
    background:#f02416;
    grid-column:3;
    grid-row:2;
}

/* Bottom Left */
.box6{
    background:#f96476;
    grid-column:2;
    grid-row:3;
}

/* Bottom Middle */
.box7{
    background:#f9ff3d;
    grid-column:3;
    grid-row:3;
}

/* Right Tall Box */
/* Right Tall Box */
.box8{
    background:#cfccff;
    grid-column:4;
    grid-row:2 / 4;
}

.grid-container2{
    width:800px;
    height:450px;

    display:grid;
    gap:10px;

    grid-template-columns:200px 1fr 1fr;
    grid-template-rows:1fr 2fr 1.5fr 1fr;

    grid-template-areas:
    "header header header"
    "sidebar content1 content1"
    "sidebar content2 content3"
    "footer footer footer";

    border:4px solid rgb(248,130,130);
    padding:10px;
    margin:30px auto;
    background:#657aff;
}

.header{
    grid-area:header;
    background:orange;
}

.sidebar{
    grid-area:sidebar;
    background:red;
}

.content-1{
    grid-area:content1;
    background:crimson;
}

.content-2{
    grid-area:content2;
    background:purple;
}

.content-3{
    grid-area:content3;
    background:violet;
}

.footer{
    grid-area:footer;
    background:orange;
}

.grid-item{

    
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
    font-size:25px;
    font-weight:bold;
}

.header,
.sidebar,
.content-1,
.content-2,
.content-3,
.footer{
    border-radius:10px;
    border:2px solid white;
}